@import url('https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap');
body{
    font-family: 'Nanum Gothic';
}

.header{
    padding-left: 10px;
}

.main{
    display: table;
}

.navigation{
    width: 150px;
    display: table-cell;
    color: white;
    padding: 10px;
    background: black;
}

.section{
    padding-left: 10px;
    display: table-cell;
}

.footer{
    text-align: center;
}

@media (max-width: 580px){
    .main{
        display: block;
    }
    .navigation{
        width: 580px;
    }
}