*{
    margin: 0px;
    color: gray;
}

strong{
    color: aqua;
}

p{
    background-color: greenyellow;
    color: honeydew;
}
p.margin{
    margin-top: 50px;
}

.darkTemplar{
    color: white;
    background-color: white;
}